form{
    margin-left:auto
}

.username,.password{
    margin-right:5px
}

.dropdown-toggle,.dropdown-item{
    cursor:pointer
}

img{
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;
}